
@model ProductCreateVm
<form>
    <div class="form-group">
        <label for="exampleInputEmail1">Title</label>
        <input  class="form-control" asp-for="Title"placeholder=" Title-i daxil edin!">
     <span asp-validation-for="Title" class=" text-danger"></span>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Rating</label>
        <input class="form-control" asp-for="Rating" placeholder=" Rating-i daxil edin!">
        <span asp-validation-for="Rating" class=" text-danger"></span>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">WatchingViews</label>
        <input class="form-control" asp-for="WatchingViews" placeholder=" WatchingViews-i daxil edin!">
        <span asp-validation-for="WatchingViews" class=" text-danger"></span>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Category</label>
        <input class="form-control" asp-for="Category" placeholder=" Category-i daxil edin!">
        <span asp-validation-for="Category" class=" text-danger"></span>
    </div>
     <div class="form-group">
        <label for="exampleInputEmail1">Image</label>
        <input class="form-control" asp-for="Image">
        <span asp-validation-for="Image" class=" text-danger"></span>
    </div>
  
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
